<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#5642C5;
           font-size:200%;
           font-family:Arial;letter-spacing:0.5px">

<p width = 20%, style="padding: 10px;
              color:white;">
Lambda Functions and Pandas Transformations
              
</p>
</div>

NTL-DS-051324
<p>Phase 1: Topic 5.3</p>
<br>
<br>

<div align = "right">
<img src="Images/flatiron-school-logo.png" align = "right" width="200"/>
</div>

#### Lambda Functions

- Lambda functions: simple way to write small, single use functions.
- Often used as argument in other functions:
    - E.g.,  `.map()` or `.apply()` method in pandas series/DataFrame

Let's see lambda functions aiding us in a sort operation:

#### Lambda functions within the `sort()` function
Sort this list on the last name.

In [ ]:
# Without a key
names = ['Miriam Marks','Sidney Baird','Elaine Barrera','Eddie Reeves','Marley Beard',
         'Jaiden Liu','Bethany Martin','Stephen Rios','Audrey Mayer','Kameron Davidson',
         'Carter Wong','Teagan Bennett']
sorted(names)

Hmmm...its sorting on the first character.
- Lambda function as argument: return last name as sorting key

In [ ]:
# Sorting by last name
names = ['Miriam Marks','Sidney Baird','Elaine Barrera','Eddie Reeves','Marley Beard',
         'Jaiden Liu','Bethany Martin','Stephen Rios','Audrey Mayer','Kameron Davidson',
'Teagan Bennett']
sorted(names, key=lambda x: x.split()[1])

#### Lambda functions with pandas `.map()`
Let's take a look at using lambda expressions on a Yelp ratings dataset.

In [5]:
import pandas as pd
df = pd.read_csv('data/Yelp_Reviews.csv', index_col = 0).reset_index()
df.head(5)

df.drop(columns = 'index')
#df.info()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg
...,...,...,...,...,...,...,...,...,...
2605,BTcY04QFiS1uh-RpkR7rAg,1,2013-06-02,0,6_A58CCY8SHB7r-Wu7-A5g,5,Came here with my 2 year old daughter for our ...,2,q3AiAe-AcpDrNsdZf8nCvQ
2606,t0T_4MM4EUHbCzBTF11FHA,0,2016-08-14,0,KqQwNyfoFiJOw911mrULIg,5,Great little restaurant. Not to many tables an...,0,NJxaA7q9BhqaDrFpfR2Jeg
2607,5XYR6doRa5Nj1JMfSDei6A,1,2016-06-14,0,xlGJkxoIBl8XH8wVsPZpnw,5,Always great friendly service and fresh baked ...,0,kBNFdviedCPFWyR-wVaAzw
2608,aLcFhMe6DDJ430zelCpd2A,0,2013-10-02,0,kwiEG_KCpDB6aK5fTSM7iw,2,We were expecting amazing Thai food after all ...,1,PkRFSQgSfca9Tamq7b2LdQ
2609,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0ttxNGxHKtD8Cnnwc_j1g,1,Sunday at 8p. Not many people here at all. We ...,0,ic9zIsm7zoxUm3Axyegx8g

Simple example: naively select the year from the date string rather than convert it to a datetime object.

In [6]:
df.date.map(lambda x: x[:4]).head()

0    2012
1    2014
2    2014
3    2011
4    2016
Name: date, dtype: object

More realistic example:
- Get list of the length of each word in a given review.

In [7]:
df['text'][0]

'I love this place! My fiance And I go here atleast once a week. The portions are huge! Food is amazing. I love their carne asada. They have great lunch specials... Leticia is super nice and cares about what you think of her restaurant. You have to try their cheese enchiladas too the sauce is different And amazing!!!'

In [10]:
df['text'].map(lambda text: [len(word) for word in text.split()]).head()

0    [1, 4, 4, 6, 2, 6, 3, 1, 2, 4, 7, 4, 1, 5, 3, ...
1    [9, 3, 4, 6, 3, 4, 4, 3, 3, 3, 5, 3, 3, 2, 7, ...
2    [9, 7, 5, 3, 5, 2, 8, 4, 3, 4, 3, 7, 4, 7, 2, ...
3    [4, 5, 6, 3, 8, 7, 2, 9, 4, 4, 5, 4, 6, 3, 5, ...
4    [1, 4, 4, 2, 7, 4, 6, 3, 1, 6, 2, 6, 1, 4, 6, ...
Name: text, dtype: object

Variable name you use as parameter in `lambda` expression does not matter:

In [11]:
df['text'].map(lambda banana: [len(word) for word in banana.split()]).head()

0    [1, 4, 4, 6, 2, 6, 3, 1, 2, 4, 7, 4, 1, 5, 3, ...
1    [9, 3, 4, 6, 3, 4, 4, 3, 3, 3, 5, 3, 3, 2, 7, ...
2    [9, 7, 5, 3, 5, 2, 8, 4, 3, 4, 3, 7, 4, 7, 2, ...
3    [4, 5, 6, 3, 8, 7, 2, 9, 4, 4, 5, 4, 6, 3, 5, ...
4    [1, 4, 4, 2, 7, 4, 6, 3, 1, 6, 2, 6, 1, 4, 6, ...
Name: text, dtype: object

#### Lambda functions with conditionals
Lambda functions can also accept some conditionals if chained in a list comprehension

In [12]:
df['text'].map(lambda x: 'Good' if any([word in x.lower() for word in ['awesome', 'love', 'good', 'great']]) else 'Bad').head()

0    Good
1     Bad
2    Good
3     Bad
4     Bad
Name: text, dtype: object

In [13]:
df['text']

0       I love this place! My fiance And I go here atl...
1       Terrible. Dry corn bread. Rib tips were all fa...
2       Delicious healthy food. The steak is amazing. ...
3       This place sucks. The customer service is horr...
4       I have been an Emerald Club member for a numbe...
                              ...
2605    Came here with my 2 year old daughter for our ...
2606    Great little restaurant. Not to many tables an...
2607    Always great friendly service and fresh baked ...
2608    We were expecting amazing Thai food after all ...
2609    Sunday at 8p. Not many people here at all. We ...
Name: text, Length: 2610, dtype: object

##### Note
This is ugly, un-Pythonic and not in line with [PEP 8](https://www.python.org/dev/peps/pep-0008/).
- Guidline for max characters in a line: 72 
- Above: 127 characters.

#### Lambda functions with pandas `.apply()`

Let's go back to our trusty cereal dataset!

In [ ]:
cereal_df = pd.read_csv('Data/cereal.csv', index_col = 'name').drop(columns = ['shelf'])
cereal_df.head(2)

Now we want to apply a standardization transformation to the numeric columns of this dataframe:
- For each column subtract by its mean an divide by standard deviation: $$ \hat{x}_i^{col} = \frac{x_i^{col} - \mu^{col} }{s^{col}} $$

- `.map()` expression takes in a column (Series) in the Dataframe
- `.apply()`: applies to each column in DataFrame.

In [ ]:
cereal_df.loc[:, 'calories':'rating'].apply(lambda col: (col - col.mean())/col.std(), axis = 0)

This is a very important kind of transformation. We'll see it later in greater detail.

#### When to use lambda functions

- Single line of code
- Single use function
- Relatively easy to read.































## When not to use lambda functions

- Several lines of code in lambda expression.
- Multiple conditions, loops, etc in function.
- Want to reuse this function often.

If it's hard for you to read, it's even harder for anyone else.